* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$main-color: #fef6eb;
$main-color-bgc: #fef6eb;
:root {
	font-size: 62.5%;
}

html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	font-family: "Paytone One", sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: $main-color-bgc;
	.logo {
		img {
			object-fit: contain;
			width: 100%;
			height: 100px;
			padding: 5px 10px;
		}
	}
	nav {
		z-index: 1;
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		.nav-section {
			display: flex;
			justify-content: space-evenly;
			background-color: $main-color-bgc;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			a {
				padding: 0.5rem;
				text-decoration: none;
				color: black;
				font-size: 1.6rem;
			}
			a:hover {
				color: $main-color;
				text-shadow: 0 0 5px black;
			}
		}
	}
	.menu {
		margin-top: 1rem;
		h1 {
			text-align: center;
			font-size: 3.6rem;
			margin-bottom: 1rem;
			border-bottom: 1px solid black;
		}
		.menu-box {
			display: flex;
			flex-direction: column;
			h2 {
				text-align: center;
				font-size: 2.4rem;
				margin-bottom: 1.4rem;
				text-transform: uppercase;
			}
			.menu-container {
				z-index: 0;
				margin-bottom: 1.6rem;
				width: 250px;
				height: 250px;
				overflow: hidden;
				border: 1px solid black;
				box-shadow: 0 0 5px black;
				// background-image: url(../img/Food/ramen_yakitori.jpg);
				background-position: center;
				background-size: cover;
				transition: scale 0.3s, box-shadow 0.3s;
				.title {
					display: flex;
					justify-content: space-between;
					border-bottom: 2px solid black;
					transition: border-bottom 0.3s, color 0.3s, background-color 0.3s;
					.dish {
						font-size: 1.8rem;
					}
					.price {
						font-size: 1.4rem;
					}
				}
				.containes {
					padding-bottom: 0.2rem;
				}
				.title,
				.containes {
					background-color: rgba(255, 255, 255, 0.681);
					padding: 0.2rem 0.4rem;
					p {
						font-size: 1.2rem;
					}
				}
			}
			.menu-container:hover {
				box-shadow: 0 0 15px black;
				scale: 1.1;
				.containes {
					display: none;
				}
				.title {
					color: $main-color;
					border-bottom: 2px solid $main-color;
					background-color: rgba(0, 0, 0, 0.6);
					text-shadow: 0 0 5px black;
					.price {
						display: none;
					}
				}
			}
		}
		.dessert-menu{
			.menu-containe{
				.title{
					.dish{
						font-size: 1px;
					}
				}
			}
		}
	}
}
