* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$main-color: #fef6eb;
$main-color-bgc: #fef6eb;
:root {
	font-size: 62.5%;
}

html {
	scroll-padding-top: 30px;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	font-family: "Paytone One", sans-serif;
}
h1 {
	padding: 0.5rem;
	font-size: 3.6rem;
	text-align: center;
	color: $main-color;
	background-color: black;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: $main-color-bgc;
	.logo {
		img {
			object-fit: contain;
			padding: 5px 10px;
			height: 100px;
			width: 100%;
		}
	}
	nav {
		z-index: 1;
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		.nav-section {
			display: flex;
			justify-content: center;
			background-color: $main-color-bgc;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			a {
				margin: 0 1rem;
				padding: 1rem;
				font-size: 1.6rem;
				text-decoration: none;
				color: black;
				transition: color 0.3s, text-shadow 0.3s;
			}
			a:hover {
				color: $main-color;
				text-shadow: 0 0 5px black;
			}
		}
	}
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1rem;
		width: 100%;
		h1 {
			width: 100%;
		}
		.menu-box {
			display: flex;
			flex-direction: column;
			h2 {
				margin-bottom: 1.4rem;
				font-size: 2.4rem;
				text-align: center;
				text-transform: uppercase;
			}

			.menu-container {
				margin-bottom: 1.6rem;
				height: 250px;
				width: 250px;
				background-position: center;
				background-size: cover;
				box-shadow: 0 0 5px black;
				border: 1px solid black;
				overflow: hidden;
				z-index: 0;
				transition: scale 0.3s, box-shadow 0.3s;
				.title {
					display: flex;
					justify-content: space-between;
					border-bottom: 2px solid black;
					transition: border-bottom 0.3s, color 0.3s, background-color 0.3s;
					.dish {
						font-size: 1.4rem;
						i {
							color: green;
						}
					}
					.price {
						padding-right: 0.5rem;
						font-size: 1.4rem;
					}
				}
				.containes {
					padding-bottom: 0.2rem;
				}
				.title,
				.containes {
					padding: 0.2rem 0.4rem;
					background-color: rgba(255, 255, 255, 0.54);
					p {
						font-size: 1.2rem;
					}
				}
			}
			.menu-container:hover {
				box-shadow: 0 0 15px black;
				scale: 1.1;
				.containes {
					display: none;
				}
				.title {
					color: $main-color;
					text-shadow: 0 0 5px black;
					border-bottom: 2px solid $main-color;
					background-color: rgba(0, 0, 0, 0.6);
					.price {
						display: none;
					}
				}
			}
		}
		.drinks-menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			table {
				font-size: 1.6rem;
				width: 90%;
			}
		}
	}
	.contact {
		margin-top: 2rem;
		width: 100%;
		.contact-box {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
			padding-top: 0.2rem;
			font-size: 1.4rem;
			align-items: center;
			background-color: $main-color;

			a {
				color: black;
				text-decoration: none;
				transition: color 0.3s, text-shadow 0.3s;
			}
			a:hover {
				color: $main-color;
				text-shadow: 0 0 10px black;
			}
			.media-box {
				a {
					margin: 0.2rem 1rem;
					padding: 0.2rem;
					font-size: 4rem;
				}

				.facebook:hover {
					color: $main-color;
					text-shadow: 0 0 10px black;
				}

				.facebook {
					color: #0866ff;
					transition: text-shadow 0.5s;
				}

				.instagram:hover {
					text-shadow: 0 0 10px black;
					-webkit-text-fill-color: $main-color;
				}
				.instagram {
					background: linear-gradient(
						to right top,
						#ffd340,
						#ff9d3b,
						#ff5d5e,
						#ff008f,
						#d300c5
					);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					transition: text-shadow 0.3s;
				}
			}
		}
	}
	.map {
		width: 100%;
		.map-box {
			display: flex;
			justify-content: center;
			margin: 2rem auto;
			iframe {
				height: 300px;
				width: 300px;
			}
		}
	}
}
footer {
	padding: 1rem;
	width: 100%;
	font-size: 1.8rem;
	text-align: center;
	color: $main-color;
	background-color: black;
	.year {
		font-weight: bold;
	}
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 56px;
	}
	.container {
		nav {
			.nav-section {
				a {
					margin: 0rem 3rem;
					padding: 1rem 1.4rem;
					font-size: 2.6rem;
				}
			}
		}
		.menu {
			.md-breakpoint {
				display: flex;
				.menu-container {
					margin: 2rem;
				}
			}
			.menu-box {
				h2 {
					margin-top: 2rem;
				}
				.menu-container {
					margin-bottom: 1.6rem;
					height: 300px;
					width: 300px;
					border: 2px solid black;
					box-shadow: 0 0 20px black;
					.title {
						.dish {
							font-size: 2.4rem;
						}
						.price {
							font-size: 1.8rem;
						}
					}
					.containes {
						padding-bottom: 0.2rem;
					}
					.title,
					.containes {
						p {
							font-size: 1.4rem;
						}
					}
				}
				.menu-container:hover {
					scale: 1.2;
				}
			}
			.drinks-menu {
				width: 70%;
				table {
					font-size: 1.6rem;
				}
			}
		}
		.contact {
			.contact-box {
				font-size: 2.6rem;
			}
			.media-box {
				margin-top: 1rem;
				i {
					font-size: 6rem;
				}
			}
		}
		.map {
			.map-box {
				iframe {
					height: 400px;
					width: 90%;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.container {
		.menu {
			.menu-box {
				.lg-breakpoint {
					display: flex;
				}
				.menu-container {
					width: 250px;
					height: 250px;
				}
			}
			.drinks-menu {
				width: 100%;
				table {
					width: 30%;
				}
			}
		}
	}
}
