nav {
	width: 100%;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
nav button {
	margin: 0.5rem 0.5rem;
	padding: 1rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.3s, text-shadow 0.3s;
	font-family: "Paytone One", sans-serif;
}
nav .btn-nav:hover {
	color: #fef6eb;
	text-shadow: 0 0 5px black;
}
nav .active {
	color: #fef6eb;
	text-shadow: 0 0 10px black;
}
